.page {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: $color-bg;
  background-image: $image-background;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 84%;
  max-width: 1350px;
  margin: 2% auto;
  position: relative;
  box-sizing: border-box;
  background-color: rgba($color-postbg, 0.72);
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 600px;
}

.div_article {
  width: 100%;
  flex: 1;
  position: relative;
  z-index: 1;
  overflow-y: auto;
  overflow-x: hidden;
  @include thin_scrollbar;
  border: $secondary-border;
  border-top: none;

  article {
    margin: 0;
    padding: 10px 19px 19px 19px;
    text-align: left !important;
    min-height: 100%;
    word-wrap: break-word;
    word-break: break-word;
  }

  td {
    border: $thin-border;
  }

  .encrypted {
    color: rgba($color-warning, 0.9);
    word-break: break-all;
  }

  .no-border {
    td {
      border: 1px solid rgba($color-postbg, 0);
    }
  }
}
// used to toggle absence of elements
.show {
  visibility: visible !important;
  @include fade_in;
}

/* Responsive Design */
@media screen and (max-width: 1024px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .page {
    min-height: auto;
  }

  .container {
    width: 100%;
    margin: 0;
    border: $thick-border;
    min-height: auto;
  }

  .div_article {
    border: none;
  }

  .div_article article {
    padding: 12px 17px 17px 17px;
  }

  .header {
    border-left: none;
    border-right: none;

    #mxmz_btn {
      display: none;
    }
  }
}

@media screen and (max-width: 500px) {
  .container {
    border: $medium-border;
  }

  .div_article article {
    padding: 8px 12px 12px 12px;
  }

  .header .nav_bar .site_owner {
    font-size: 0;
  }

  .header .nav_bar .site_title {
    font-size: 0;
  }

  .header .nav_bar ul .span_right {
    max-width: 70%;
  }
}
